<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
	<bean id="proiectEntityRepository"
		class="org.app.domain.services.ProiectEntityRepositoryImpl">
	</bean>

	<bean id="proiectEntityFactory"
		class="org.app.domain.services.ProiectEntityFactoryImpl" 
		init-method="initDomainServiceEntities">
		<property name="proiectEntityRepository" ref="proiectEntityRepository"/>
	</bean>

	<bean id="proiectDomainService"
		class="org.app.domain.services.ProiectDomainServiceImpl">
		<property name="proiectEntityRepository" ref="proiectEntityRepository"/>
	</bean>
</beans>